@import '/src/Container/App/VariablesSCSS/variables.scss';
nav{
    width: 75%;
    height: 40px;
    ul{
     height: 40px;
     @include display-flex-between;
    li{
     list-style: none;
     width: 120px;
     text-align: center;
     a{
         text-transform: uppercase;
         @include description;
         text-decoration: none;
     }
    }
    }
    li >a:hover{
     color: #999999;
    }
 }