.swiper{
    text-align: center;
    height: 564px;
    width: 1080px;
    .swiper-button-next:after, .swiper-button-prev:after{
        color: white;
    }
    .swiper-pagination-bullet-active{
        background: white; 
    }
    .slide{
        text-align: center;
        line-height: 564px;
        width: 100%;
        img{
            width: 100%;
        }
    }
}