@import '/src/Container/App/VariablesSCSS/variables.scss';
.articles{
    width: 100%;
    @include display-flex-center;
    .article{
        width: 40%;
        @include display-flex-center;
        flex-direction: column;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        padding: 10px;
        .photo{
            width: 100%;
            margin-bottom: 15px;
            position: relative;
            img{
                width: 100%;
            }
            .like, .liked{
                width: 50px;
                height: 35px;
                position: absolute;
                top: 10px;
                right: 10px;
                background: none;
                background-color: rgba($color: #fff, $alpha: 0.5);
                background-image: url(./assets/like.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 70%;
                border: none;
                border-radius: 20%;
                cursor: pointer;
               }
               .liked{
                background-image: url(./assets/liked.png);
               }
        }
        .content{
            width: 100%;
            @include content;
            @include author;
            .navLink{
                width: 100%;
                text-align: center;
                font-weight: 700;
                font-size: 20px;
                letter-spacing: 3px;
                font-family: 'Jost',sans-serif;
                margin-bottom: 10px;
                color: #000;
                text-decoration: none;
            }
        }
    }
}
.images{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    img{
        width: 200px;
        height: 200px;
    }
}