@import '/src/Container/App/VariablesSCSS/variables.scss';
header{
    @include headers;  
}
.tips{
    width: 100%;
     @include display-flex-between;
     flex-wrap: wrap;
     .m-tip{
        position: relative;
        padding-bottom: 15px;
        width: 100%;
        margin-bottom: 25px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    .s-tip{
        position: relative;
        padding-bottom: 15px;
        width: 30%;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        .img{
             img{
                height: 180px;
            }
        }
    }
    .img{
        position: relative;
        width: 100%;
        margin-bottom: 15px;
        img{
            width: 100%;
        }
    }
    .content{
        text-align: center;
        h1{
            @include headers;
            margin-bottom: 10px;
        }
        h3{
            font-family: 'Jost',sans-serif;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 400;
                color: #0098a3;
                margin-bottom: 10px;
        }
        p{
            @include description;
            margin-bottom: 10px;
        }
    }
    .like{
        width: 35px;
        height: 35px;
        position: absolute;
        bottom: 5px;
        right: 10px;
        border: none;
        background: none;
        background-image: url(./like.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        cursor: pointer;
       }
    }
