@mixin display-flex-center {
display: flex;
justify-content: center;
align-items: center;
}
@mixin display-flex-between {
display: flex;
justify-content: space-between;
align-items: center;
}
@mixin headers {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 3px;
    font-family: 'Jost',sans-serif;
}
@mixin description {
    color: #111111;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Jost',sans-serif;
}
@mixin author{
    .author{
        @include display-flex-center;
        justify-content: start;
        height: 32px;
        margin-bottom: 10px;
        .authorImg{
            width: 32px;
            height: 32px;
            border-radius: 50%;
        margin-right: 5px;}
            h3{
            font-family: 'Jost',sans-serif;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 400;
            span{
                color: #999999;
            }
        }
    }
}
@mixin content{
    h1{
        @include headers;
        font-size: 20px;
        text-align: left;
        margin-bottom: 15px;
    }
    .desc{
        @include display-flex-between;
        width: 55%;
        font-size: 12px;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: 'Jost',sans-serif;
        margin-bottom: 15px;
        h2{
            color: #999999; 
        }
a{
text-decoration: none;
color: #000;

}
    }
    p{
        @include description;
        text-align: left;
        margin-bottom: 15px;
    }
}