@import '/src/Container/App/VariablesSCSS/variables.scss';
.culture-cont{
    display: flex;
    justify-content: space-between;
    .articles-culture{
        width: 73%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        .article{
            width: 48%;
            @include display-flex-between;
            flex-direction: column;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            
            .photo{
                width: 100%;
                height: 240px;
                margin-bottom: 15px;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                }
                .like, .liked{
                    width: 50px;
                    height: 35px;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    background: none;
                    background-color: rgba($color: #fff, $alpha: 0.5);
                    background-image: url(./assets/like.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 70%;
                    border: none;
                    border-radius: 20%;
                    cursor: pointer;
                   }
                   .liked{
                    background-image: url(./assets/liked.png);
                   }
            }
            .content{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                @include content;
                @include author;
                .navLink{
                    color: #000;
                    font-size: 17px;
                font-style: normal;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-family: 'Jost',sans-serif;
                text-decoration: none;
                text-align: center;
                margin-bottom: 10px;
                }
                p{
                    text-align: center;
                }
            }
    }}
    aside{
        @include display-flex-between;
        flex-wrap: wrap;
        width: 265px;
        // height: 400px;
        h1{
            display: block;
            font-size: 12px;
            font-weight: 700;
            font-style: normal;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: 'Jost',sans-serif;
            color: #000;
            text-align: left;
            margin-bottom: 10px;
        }
      .cont{
width: 100%;
height: 90px;
display: flex;
        .photo{
            width: 90px;
            height: 90px;
            margin-right: 15px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .content{
            width: 175px;
            height: 87px;
            @include display-flex-center;
            flex-direction: column;
            align-items: flex-start;
            .navLink{
                color: #000;
                font-size: 12px;
            font-style: normal;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: 'Jost',sans-serif;
            text-decoration: none;
            text-align: left;
            margin-bottom: 10px;
            }
           h3{
            @include description;
            color: #888;
        font-size: 12px;       
    text-transform: uppercase;    }
        }
      }
      button{
        margin-top: 15px;
        width: 100%;
        height: 40px;
        background-color: #00aaaf;
        border: none;
        cursor: pointer;
        background-image: url(./instagram-white.png);
        background-repeat: no-repeat;
        background-position: top 4px right 60px ;
        background-size: 30px;
        a{
            @include description;
        color: #fff;
        text-decoration: none;
        }
    }
    img{
        width: 100%;
    }
    }

}
